In [1]:
import pandas as pd
df = pd.read_csv('datos.csv')
df.shape

(800, 4)

In [4]:
train = df.iloc[0:600, :]
train

      id   abdomen    antena       clase
0      1  1.914487  3.991838  saltamonte
1      2  5.387465  6.466957   chicharra
2      3  0.627503  3.226716  saltamonte
3      4  7.479625  7.238343   chicharra
4      5  2.208954  3.486656  saltamonte
..   ...       ...       ...         ...
595  596  8.879029  6.961678   chicharra
596  597  0.528429  4.145072  saltamonte
597  598  8.916916  8.081882   chicharra
598  599  2.647604  4.007205  saltamonte
599  600  7.209116  7.611879   chicharra

[600 rows x 4 columns]

In [6]:
test = df.iloc[600:,:]
test

      id   abdomen    antena       clase
600  601  2.365673  4.296515  saltamonte
601  602  7.671596  6.473133   chicharra
602  603  1.518214  4.620402  saltamonte
603  604  8.001716  6.240865   chicharra
604  605  2.386365  3.767946  saltamonte
..   ...       ...       ...         ...
795  796  8.707138  6.190416   chicharra
796  797  0.115553  4.674717  saltamonte
797  798  7.460719  8.234114   chicharra
798  799  0.127101  4.738671  saltamonte
799  800  5.743140  6.936417   chicharra

[200 rows x 4 columns]

In [8]:
x_train = train.iloc[:,1:3]
x_train

      abdomen    antena
0    1.914487  3.991838
1    5.387465  6.466957
2    0.627503  3.226716
3    7.479625  7.238343
4    2.208954  3.486656
..        ...       ...
595  8.879029  6.961678
596  0.528429  4.145072
597  8.916916  8.081882
598  2.647604  4.007205
599  7.209116  7.611879

[600 rows x 2 columns]

In [9]:
y_train = train.iloc[:, -1]
y_train

0      saltamonte
1       chicharra
2      saltamonte
3       chicharra
4      saltamonte
          ...
595     chicharra
596    saltamonte
597     chicharra
598    saltamonte
599     chicharra
Name: clase, Length: 600, dtype: object

In [11]:
x_test = test.iloc[:, 1:3]
x_test

      abdomen    antena
600  2.365673  4.296515
601  7.671596  6.473133
602  1.518214  4.620402
603  8.001716  6.240865
604  2.386365  3.767946
..        ...       ...
795  8.707138  6.190416
796  0.115553  4.674717
797  7.460719  8.234114
798  0.127101  4.738671
799  5.743140  6.936417

[200 rows x 2 columns]

In [12]:
y_test = test.iloc[:, -1]
y_test

600    saltamonte
601     chicharra
602    saltamonte
603     chicharra
604    saltamonte
          ...
795     chicharra
796    saltamonte
797     chicharra
798    saltamonte
799     chicharra
Name: clase, Length: 200, dtype: object

In [13]:
from sklearn.svm import SVC
modelo = SVC(kernel='rbf', gamma = 0.1, C=1)
modelo.fit(x_train, y_train)

SVC(C=1, gamma=0.1)

In [15]:
predicted = modelo.predict(x_test)
predicted

array(['saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra',
       'saltamonte', 'chicharra', 'saltamonte', 'chicharra', 'saltamonte',
       'chicharra', 'saltamonte', 'chicharra', 'saltamonte', 'chicharra'],
      dtype=object)

In [16]:
test = pd.DataFrame(test)
test['predicted'] = predicted
test

      id   abdomen    antena       clase   predicted
600  601  2.365673  4.296515  saltamonte  saltamonte
601  602  7.671596  6.473133   chicharra   chicharra
602  603  1.518214  4.620402  saltamonte  saltamonte
603  604  8.001716  6.240865   chicharra   chicharra
604  605  2.386365  3.767946  saltamonte  saltamonte
..   ...       ...       ...         ...         ...
795  796  8.707138  6.190416   chicharra   chicharra
796  797  0.115553  4.674717  saltamonte  saltamonte
797  798  7.460719  8.234114   chicharra   chicharra
798  799  0.127101  4.738671  saltamonte  saltamonte
799  800  5.743140  6.936417   chicharra   chicharra

[200 rows x 5 columns]

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predicted)

1.0